####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
Electrum.egg-info/
Runebase_Electrum.egg-info
.devlocaltmp/
*_trial_temp
packages
env/
.buildozer/
bin/
/app.fil
.idea
.mypy_cache
.vscode
electrum_data

# icons
electrum/gui/kivy/theming/light-0.png
electrum/gui/kivy/theming/light-1.png
electrum/gui/kivy/theming/light.atlas

# tests/tox
.tox/
.cache/
.coverage
.pytest_cache

# build workspaces
contrib/build-wine/tmp/
contrib/build-wine/fresh_clone/
contrib/build-linux/appimage/build/
contrib/build-linux/appimage/.cache/
contrib/android_debug.keystore
contrib/secp256k1

# shared objects
electrum/*.so
electrum/*.so.0
electrum/*.dll
electrum/*.dylib
electrum/libsecp256k1.so.2
electrum/locale/ar_SA/LC_MESSAGES/electrum.mo
electrum/locale/be_BY/LC_MESSAGES/electrum.mo
electrum/locale/bg_BG/LC_MESSAGES/electrum.mo
electrum/locale/cs_CZ/LC_MESSAGES/electrum.mo
electrum/locale/da_DK/LC_MESSAGES/electrum.mo
electrum/locale/de_DE/LC_MESSAGES/electrum.mo
electrum/locale/el_GR/LC_MESSAGES/electrum.mo
electrum/locale/eo_UY/LC_MESSAGES/electrum.mo
electrum/locale/es_ES/LC_MESSAGES/electrum.mo
electrum/locale/fa_IR/LC_MESSAGES/electrum.mo
electrum/locale/fr_FR/LC_MESSAGES/electrum.mo
electrum/locale/hu_HU/LC_MESSAGES/electrum.mo
electrum/locale/hy_AM/LC_MESSAGES/electrum.mo
electrum/locale/id_ID/LC_MESSAGES/electrum.mo
electrum/locale/it_IT/LC_MESSAGES/electrum.mo
electrum/locale/ja_JP/LC_MESSAGES/electrum.mo
electrum/locale/ko_KR/LC_MESSAGES/electrum.mo
electrum/locale/ky_KG/LC_MESSAGES/electrum.mo
electrum/locale/lv_LV/LC_MESSAGES/electrum.mo
electrum/locale/nb_NO/LC_MESSAGES/electrum.mo
electrum/locale/nl_NL/LC_MESSAGES/electrum.mo
electrum/locale/pl_PL/LC_MESSAGES/electrum.mo
electrum/locale/pt_BR/LC_MESSAGES/electrum.mo
electrum/locale/pt_PT/LC_MESSAGES/electrum.mo
electrum/locale/ro_RO/LC_MESSAGES/electrum.mo
electrum/locale/ru_RU/LC_MESSAGES/electrum.mo
electrum/locale/sk_SK/LC_MESSAGES/electrum.mo
electrum/locale/sl_SI/LC_MESSAGES/electrum.mo
electrum/locale/sv_SE/LC_MESSAGES/electrum.mo
electrum/locale/ta_IN/LC_MESSAGES/electrum.mo
electrum/locale/th_TH/LC_MESSAGES/electrum.mo
electrum/locale/tr_TR/LC_MESSAGES/electrum.mo
electrum/locale/uk_UA/LC_MESSAGES/electrum.mo
electrum/locale/vi_VN/LC_MESSAGES/electrum.mo
electrum/locale/zh_CN/LC_MESSAGES/electrum.mo
electrum/locale/zh_TW/LC_MESSAGES/electrum.mo
